body {
  font-size: 14px;
  font-family: Poppins, open-sans, Roboto, sans-serif, serif, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}